#event_calendar-susanoo-pages-index table.table-pages {
  width: 100%;
}
#event_calendar-susanoo-pages-index table.table-pages thead th {
  vertical-align: middle;
}
#event_calendar-susanoo-pages-index table.table-pages thead:first-child tr:first-child th {
  border-top: 1px solid #dddddd;
}
#event_calendar-susanoo-pages-index table.table-pages tbody td {
  vertical-align: middle;
}
#event_calendar-susanoo-pages-index table.table-pages th,
#event_calendar-susanoo-pages-index table.table-pages td {
  border: 1px solid #dddddd;
}
#event_calendar-susanoo-pages-index table.table-pages .latest,
#event_calendar-susanoo-pages-index table.table-pages .private,
#event_calendar-susanoo-pages-index table.table-pages .operation,
#event_calendar-susanoo-pages-index table.table-pages .admission,
#event_calendar-susanoo-pages-index table.table-pages .begin_date,
#event_calendar-susanoo-pages-index table.table-pages .end_date,
#event_calendar-susanoo-pages-index table.table-pages .event_date,
#event_calendar-susanoo-pages-index table.table-pages .preview {
  text-align: center;
}
#event_calendar-susanoo-pages-index table.table-pages thead th.admission,
#event_calendar-susanoo-pages-index table.table-pages thead th.begin_date,
#event_calendar-susanoo-pages-index table.table-pages thead th.end_date,
#event_calendar-susanoo-pages-index table.table-pages thead th.event_date,
#event_calendar-susanoo-pages-index table.table-pages thead th.preview {
  border-top: 0;
}
#event_calendar-susanoo-pages-index table.table-pages .title,
#event_calendar-susanoo-pages-index table.table-pages .latest,
#event_calendar-susanoo-pages-index table.table-pages .private,
#event_calendar-susanoo-pages-index table.table-pages .admission,
#event_calendar-susanoo-pages-index table.table-pages .operation,
#event_calendar-susanoo-pages-index table.table-pages .preview,
#event_calendar-susanoo-pages-index table.table-pages .event_date {
  border-left: 1px solid #dddddd;
}
#event_calendar-susanoo-pages-index table.table-pages .genre {
  min-width: 100px;
}
#event_calendar-susanoo-pages-index table.table-pages .title {
  min-width: 120px;
}
#event_calendar-susanoo-pages-index table.table-pages .admission {
  width: 100px;
}
#event_calendar-susanoo-pages-index table.table-pages .event_date {
  width: 150px;
}
#event_calendar-susanoo-pages-index table.table-pages .operation {
  width: 90px;
}
#event_calendar-susanoo-pages-index table.table-pages .preview {
  width: 110px;
}
#event_calendar-susanoo-pages-index table.table-pages tbody tr:hover > td,
#event_calendar-susanoo-pages-index table.table-pages tbody tr:hover > th {
  background-color: #e9e9e9;
}
/**
 * 詳細画面
 */
#event_calendar-susanoo-pages-show .page-content {
  margin-bottom: 20px;
}
#event_calendar-susanoo-pages-show .data-label {
  width: 150px;
}
